<!DOCTYPE html>
<html>
	<head>
    	<title>ACCESS2</title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
  	</head>
  	<body>
  		<div class="container">
  			<a href="/map"><div id="map-button">Find out when the next van arrives!</div></a>
  		</div>
  	</body>
  	<script type="text/javascript">
  	</script>
</html>
